/**
* Auteur : 	DWAPS Formation - Michael Cornillon
* Cours :	TUTORIEL SASS
* Mail : 	contact@dwaps.fr
* Tel :		0651279211
* Site : 	http://dwaps.fr
* Date : 	26/01/2017
**/

// CHARTE GRAPHIQUE
$fond: #E2FFE3;
$police: #5E4D09;
$logo: #E8BD18;
$cadre: #6F18E8;
$liens: #FF4627;
$liens_survol: #FF8D27;
// !CHARTE GRAPHIQUE

$opacity: .5;
$blanc: rgba(255, 255, 255, $opacity);
$gris_clair: #ddd;
$ombre: #666;

$font_family: Arial, sans-serif;
$marge: 30px;
$filigrane: "DWAPS Formation";
$bordure: 3px dotted $gris_clair;


// IMPORTS
@import "general";
@import "anim";
@import "accueil";
// !IMPORTS